body
{
	background-image: url('bbale.png');
	background-repeat: no-repeat;
	background-size: 100% 900px;
}
#biodata
{
	background-color: grey;
	width: 50%;
	opacity: 0.9;
	padding: 50px 300px 150px 50px;
	margin: 100px 100px;
}
#biodata:hover
{
	opacity: 1;
}